<div ng-show="classStatus" class="classesBlock">
    <input type="button" value="Закрити вікно" ng-click="closeClass()"><br><br>
    <h1>Клас № {{className}}</h1>
    <table border="1" align="center">
        <tr>
            <th>Ім'я учня</th>
            <th>Прізвище учня</th>
            <th>Редагувати</th>
            <th>Видалити</th>
        </tr>
        <tr ng-repeat="a in classes track by $index">
            <td>{{a.name}}</td>
            <td>{{a.sname}}</td>
            <td><input type="button" value="Редагувати" ng-click="editClasses(a.id,a.name,a.teacher)"></td>
            <td><input type="button" value="Видалити" ng-click="deleteClasses(a.id)"></td>
        </tr>
    </table>

</div>