<form name="editClassForm" novalidate>
  <br>
   <span class="form-group">
     <input type="text" name="editNameClass" ng-model="editNameClass" required class="form-control">

    <span style="color:red" ng-show="editClassForm.editNameClass.$touched && editClassForm.editNameClass.$invalid">
<!--                перевірка на пусте поле   -->
                    <span ng-show="editClassForm.editNameClass.$error.required">Пусте поле</span>
    </span>

    <select id="teachersSelect" class="form-control">
<option ng-repeat="a in teachers track by $index" value="{{a.id}}">{{a.name}} {{a.sname}}</option>
</select>  
   </span>
   <br>
    
    <input type="button" ng-click="editClasses()" value="Редагувати клас" ng-disabled="editClassForm.$invalid" class="btn btn-primary">
</form>
