<form name="editPupilsForm" novalidate ng-show="editPupilsStatus" >
      <br>
       <span class="form-group">
           <input type="text" name="editNamePupils" ng-model="editNamePupils" required class="form-control">

        <span style="color:red" ng-show="editPupilsForm.editNamePupils.$touched && editPupilsForm.editNamePupils.$invalid">
<!--                перевірка на пусте поле   -->
                    <span ng-show="editPupilsForm.editNamePupils.$error.required">Пусте поле</span>
        </span>

        <input type="text" name="editSnamePupils" ng-model="editSnamePupils" required class="form-control">
        <span style="color:red" ng-show="editPupilsForm.editSnamePupils.$touched && editPupilsForm.editSnamePupils.$invalid">
<!--                перевірка на пусте поле   -->
                    <span ng-show="editPupilsForm.editSnamePupils.$error.required">Пусте поле</span>
        </span>
       </span>
       <br>
        
        <input type="button" ng-click="editPupils()" value="Редагувати вчителя" ng-disabled="editPupilsForm.$invalid" class='btn btn-danger'>
    </form>