 <form name="editTeacherForm" novalidate ng-show="editTeachStatus" >
      <br>
       <span class="form-group">
           <input type="text" name="editNameTeacher" ng-model="editNameTeacher" required class="form-control">

        <span style="color:red" ng-show="editTeacherForm.editNameTeacher.$touched && editTeacherForm.editNameTeacher.$invalid">
<!--                перевірка на пусте поле   -->
                    <span ng-show="editTeacherForm.editNameTeacher.$error.required">Пусте поле</span>
        </span>

        <input type="text" name="editSnameTeacher" ng-model="editSnameTeacher" required class="form-control">
        <span style="color:red" ng-show="editTeacherForm.editSnameTeacher.$touched && editTeacherForm.editSnameTeacher.$invalid">
<!--                перевірка на пусте поле   -->
                    <span ng-show="editTeacherForm.editSnameTeacher.$error.required">Пусте поле</span>
        </span>
       </span>
       <br>
        
        <input type="button" ng-click="editTeach()" value="Редагувати вчителя" ng-disabled="editTeacherForm.$invalid" class='btn btn-danger'>
    </form>